cat <<EOF > .gitignore
# Python
__pycache__/
*.pyc

# Kubernetes binaries / tools
kubectl
minikube-linux-amd64

# Logs
*.log

# Helm build artifacts
charts/
*.tgz

# K8s manifests generated manually
k8s/fastapi-servicemonitor.yaml

# Environment files
.env

# Backup files
*~
EOF

