# ---------------------------------------------------------
# REPLICAS
# ---------------------------------------------------------
replicaCount: 1

# ---------------------------------------------------------
# FASTAPI APPLICATION IMAGE
# ---------------------------------------------------------
image:
  repository: ghcr.io/manojpasunoori/fastapi-app
  tag: "latest"                   # Always pull latest version
  pullPolicy: Always              # Force new image pull each deployment

# ---------------------------------------------------------
# FASTAPI SERVICE CONFIG
# ---------------------------------------------------------
service:
  type: LoadBalancer
  port: 8000

# ---------------------------------------------------------
# RESOURCE REQUESTS & LIMITS
# ---------------------------------------------------------
resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

# ---------------------------------------------------------
# POSTGRES CONFIG (INSIDE CLUSTER)
# ---------------------------------------------------------
postgres:
  enabled: true
  image: "postgres:15"
  port: 5432
  user: "manoj"
  db: "devopsapp"
  password: "secret123"

  persistence:
    enabled: true
    size: 1Gi
    storageClassName: ""     # default storage class

  resources:
    requests:
      cpu: "100m"
      memory: "128Mi"
    limits:
      cpu: "500m"
      memory: "512Mi"

# ---------------------------------------------------------
# SERVICEMONITOR (Prometheus Operator SUPPORT)
# ---------------------------------------------------------
serviceMonitor:
  enabled: true

