replicaCount: 1

image:
  repository: ghcr.io/manojpasunoori/fastapi-app
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 8000

resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

postgres:
  enabled: true
  image: "postgres:15"
  port: 5432
  user: "manoj"
  db: "devopsapp"
  password: "secret123"

  persistence:
    enabled: true
    size: 1Gi
    storageClassName: ""  # leave empty to use default

  resources:
    requests:
      cpu: "100m"
      memory: "128Mi"
    limits:
      cpu: "500m"
      memory: "512Mi"

