apiVersion: v1
kind: Service
metadata:
  name: fastapi-service
  labels:
    app: fastapi
spec:
  type: {{ .Values.service.type }}
  selector:
    app: fastapi
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8000
      protocol: TCP

