name: CD - Deploy to Minikube

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted   # VERY IMPORTANT
    steps:

    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set kubeconfig
      run: |
        mkdir -p ~/.kube
        cp /home/manoj/.kube/config ~/.kube/config
        chmod 600 ~/.kube/config

    - name: Verify cluster connection
      run: kubectl get nodes

    - name: Helm upgrade
      run: |
        cd fastapi-chart
        helm upgrade fastapi . --install --wait

